<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.16/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="flex justify-center items-center flex-col min-h-screen bg-cover bg-center">
    <header class="font-extrabold text-2xl mb-4 text-white">Send Mail</header>
    <form method="post" class="w-full max-w-md p-6 rounded-lg shadow-md" style="background: rgba(255, 255, 255, 0.3);">
        <div class="mb-4">
            <label for="fullName" class="block text-sm font-medium text-gray-700">Firstname</label>
            <input type="text" name="fname" required placeholder="First Name" class="mt-1 p-2 border rounded-md w-full focus:outline-none focus:ring focus:border-blue-500">
        </div>
        <div class="mb-4">
            <label for="fullName" class="block text-sm font-medium text-gray-700">Lastname</label>
            <input type="text" name="lname" required placeholder="Last Name" class="mt-1 p-2 border rounded-md w-full focus:outline-none focus:ring focus:border-blue-500">
        </div>
        <div class="mb-4">
            <label for="email" class="block text-sm font-medium text-gray-700">Email</label>
            <input type="email" name="email" required placeholder="Email" class="mt-1 p-2 border rounded-md w-full focus:outline-none focus:ring focus:border-blue-500">
        </div>
        <button type="submit" class="bg-blue-500 text-white font-semibold py-2 px-4 rounded focus:outline-none focus:ring focus:bg-blue-600">Submit</button>
    </form>
</body>
</html>